#home {
  min-height: 350px;
  padding-top: 250px;
  z-index: 100;
}
footer {
  background: url("../img/bg_footer.png") repeat top fixed;
  background-size: cover;
  width: 100%;
  min-height: 350px;
}
footer .footerCols {
  position: fixed;
  bottom: 74px;
  z-index: 0;
}
#others {
  min-height: 400px;
}
#contact {
  position: fixed;
  padding: 5px;
  background: #fff;
  right: 0px;
  top: 100px;
}
.bg-circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: block;
  background: #b3b3b3;
  border: 1px solid #e3e3e3;
  margin-top: 40px;
  color: #515151;
  box-shadow: 0 0 3px #e3e3e3;
}
.bg-circle b {
  text-align: center;
}
.bg-circle:hover {
  background: #e3e3e3;
}
.backTop {
  position: fixed;
  left: 95%;
  bottom: 5%;
  width: 19px;
  height: 19px;
  border: 2px solid #515151;
  -webkit-border-radius: 11.5px;
  -moz-border-radius: 11.5px;
  border-radius: 11.5px;
}
.backTop i {
  margin: 0 2px;
}
